.card-box {
    width: 525px;
    height: calc(100vh - 400px);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 49px;
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card-index {
    font-size: 90px;
    line-height: 90px;
    color: #fff;
    position: relative;
    z-index: 2;
}

.card-content {
    position: absolute;
    bottom: 40px;
    z-index: 2;
    h3 {
        font-size: 32px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 20px;
    }
    p {
        color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
        line-height: 24px;
    }
}