.screen7 {
    padding: 120px 100px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blur-text-7 {
    font-size: 90px;
    line-height: 108px;
    color: #fff;
}

.description-7 {
    color: #F1F1F1;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}

.animation-circle {
    transition: all ease-in-out 0.3s;
}

.arrow {
    transition: all ease-in-out 0.4s;
}

.arrow-bottom {
    transform: translate(-20px, 20px);
    transition: all ease-in-out 0.55s;
}

.animation-bar:hover {
    .animation-circle {
        scale: 0.95;
    }
    .arrow {
        transform: translate(20px, -20px);
    }
    .arrow-bottom {
        transform: translate(0, 0);
    }
}