.file-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.upload-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
    padding: 0 50px;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 8px;
    background: #939393;
    width: 154px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button span {
    margin-top: 4px;
}

.upload-button:hover {
    background: #0ABAB5;
}

.upload-area-footer {
    color: #C8C8C8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 16px;
}