.success-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.success-modal-card {
    width: 480px;
    height: 257px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    box-sizing: border-box;
}

.success-title {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 25px 0 0 0;
    text-align: center;
}

.success-description {
    width: 320px;
    color: #939393;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0 0 0;
    text-align: center;
}