/* CompareImageRenderer 样式 */

.pixi-canvas-container {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    background: transparent;
}

.pixi-canvas-container canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}