.right-project-area {
    width: 72px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    flex-shrink: 0;
    border-radius: 10px;
    background: #EEE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.right-project-area .add-but {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background: #FFF;
    font-size: 34px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}

.right-project-area .add-but:hover {
    scale: 1.05;
    transition: all 0.3s ease;
}

.right-project-area .divider-line {
    width: 20px;
    height: 3px;
    flex-shrink: 0;
    background: #D4D4D5;
    margin: 10px 0;
}

.right-project-area .project-list .project-item {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background: #FFF;
    position: relative;
    margin-bottom: 10px;
}

.right-project-area .project-list .project-item:last-child {
    margin-bottom: 0;
}

.right-project-area .project-list .project-item .minus {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background: #9a9a9a;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-project-area .project-list .project-item .minus:hover {
    background: #7a7a7a;
    scale: 1.1;
    transition: all 0.3s ease;
}

.right-project-area .project-list .project-item .project-item-index {
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    height: 14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(2px);
    color: #fff;
}

.right-project-area .project-list .project-item .project-item-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: contain;
}